body {
  background: rgb(235,235,235);
}

h1 {
  color: rgba(41,37,44,0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h2, h3, p {
  color: rgba(41,37,44, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h2, h3 {
  font-size: 18px;
}

h2 {
  font-size: 21px;
}

p {
  font-size: 14px;
}

a {
  color: rgb(175,175,175);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.icons {
  list-style-type: none;
  padding: 0;
}

.card {
  padding: 30px;
  background: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 3px;
  box-shadow: 3px, 3px, 3px, rgb(200,200,200);
}

.text_centered {
  text-align: center;
}


.li_in_line{
  display: inline;
  padding: 20px;
}

.li_in_line a {
  font-size: 20px;
  padding: 30px;
}

a:hover {
  color: rgb(217,233,240);
}

.li_bottom_of_the_page {
  padding: 0;
}

.avatar {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 2px solid rgb(52,66,90);
}

.btn {
  color: white;
  background: rgb(240,56,60);
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
  margin: 10px;
  font-size: 13px;
}

.p_intro {
  padding-bottom: 25px;
}

.image_movie {
  width: 80px;
  padding: 10px;
}

.icons_footer {
  margin-top: 25px;
}













